web:        bundle exec rails server
redis:      redis-server
resque:     bundle exec rake resque:work QUEUE=* JOBS_PER_FORK=5
scheduler:  bundle exec rake resque:scheduler
juggernaut: juggernaut --port 8080
